[profile.default]
src = "src"
out = "out"
libs = ["lib"]
script = "script"
solc = "0.8.30"
optimizer = true
optimizer_runs = 200
via_ir = true
evm_version = "cancun"

# Remappings
remappings = [
    "@openzeppelin/=lib/openzeppelin-contracts/"
]

[profile.default.fmt]
line_length = 120
tab_width = 4
bracket_spacing = false

[rpc_endpoints]
sepolia = "${SEPOLIA_RPC_URL}"
mainnet = "${MAINNET_RPC_URL}"

[etherscan]
sepolia = { key = "${ETHERSCAN_API_KEY}" }
mainnet = { key = "${ETHERSCAN_API_KEY}" }
